:root {
    --blue: hsl(212, 86%, 64%);
    --grayish-blue: hsl(229, 6%, 66%);
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --soft-dark-blue: hsla(234, 12%, 34%, 20%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-ExtraLight.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--very-light-gray);
    color: var(--very-dark-blue);
    font-family: "Poppins", sans-serif;
    font-size: 0.938rem;
    min-height: 100dvh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

.content-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70rem;
}

.content-block__title {
    font-size: 2.2em;
    font-weight: 200;
    line-height: 1.4;
    padding-bottom: .4em;
}

.content-block__subtitle {
    display: block;
    font-weight: 600;
}

.content-block__description {
    font-weight: 200;
    text-align: center;
    padding-bottom: 3.5em;
    max-width: 56ch;
}

.content-block__list {
    display: grid;
    gap: 1.8em;
    grid-template-areas: 
        ". item2 ."
        "item1 item2 item4"
        "item1 item3 item4"
        ". item3 .";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.content-block__item {
    display: flex;
    flex-direction: column;
    gap: .6em;
    border-radius: 8px;
    box-shadow: 0 0  15px var(--soft-dark-blue);
    background-color: var(--white);
    padding: 2em;
    position: relative;
    overflow: hidden;
}

.content-block__item:nth-child(1) {
    grid-area: item1;
}

.content-block__item:nth-child(2) {
    grid-area: item2;
}

.content-block__item:nth-child(3) {
    grid-area: item3;
}

.content-block__item:nth-child(4) {
    grid-area: item4;
}

.content-block__border {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
}

.content-block__item:nth-child(1) .content-block__border {
    background-color: var(--cyan);
}

.content-block__item:nth-child(2) .content-block__border {
    background-color: var(--red);
}

.content-block__item:nth-child(3) .content-block__border {
    background-color: var(--orange);
}

.content-block__item:nth-child(4) .content-block__border {
    background-color: var(--blue);
}

.content-block__item-title {
    font-size: 1.4em;
}

.content-block__item-description {
    font-size: .9em;
    font-weight: 200;
    line-height: 1.6;
}

.content-block__item-icon {
    align-self: flex-end;
}